<header class="masthead">
    <div class="container-fluid h-100">
        <div class="row text-center text-white">
            <div class="col-md-7 mx-auto">
                <h3 class="mt-5 text-bold text-uppercase">The Process</h3>
                <p>Sound boring? It’s anything but, because it takes the right process to get to compelling experiences.</p>
                <img src="../../../assets/the-process.png" alt="" class="img-fluid" width="400">
            </div>
        </div>
    </div>
</header>