<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mx-auto text-center mt-5">
            <h4 class="mb-3">About Elea</h4>
            <p class="lead">We are a 360 Conference, Event and Communications Management firm established in 2018 in  Nairobi, Kenya. We partner with clients to conceptualise and  organize unique, memorable, flawless and impactful Conference and Events. Our approach is evidence based and we use research  to help us design custom-made communications  products and services that work specifically for  Clients’ businesses. Through an aggressive brand positioning and media  relations strategy, we seek to ensure that our client  brands stand out from the crowd.</p>
            <hr>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5">
            <img src="https://elea-africa-backend.herokuapp.com/media/albums/716A2595infinity_clix.jpg" alt="" class="img-fluid rounded" width="350">
        </div>
        <div class="col-md-7">
            <p class="lead mt-5">At Elea:</p>
            <ul class="mute">
                <li>We believe in impact, creative story-telling, clear messaging,  strong brand positioning and creative information packing.</li>
                <li>Our goal is to bring to life the needs, aspirations  and achievements of organizations & companies.</li>
                <li>Ultimately our aim is to support our clients to generate buy in and support from their publics.</li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <blockquote class="blockquote text-center lead">
            <h4>Our Vision</h4>
            <p>To become the leading African Conference, Event Management and Corporate Communications Company in the region.</p>
        </blockquote>
    </div>
</div>