<div class="container">
    <div class="row pt-5">
        <div class="col-md-6 mx-auto text-center mt-5">
            <h3 class="text-uppercase">Welcome to Elea Africa</h3>
            <p class="lead">We are experiential artisans, creators & connectors. We do:</p>
        </div>
    </div>
    <!--Grid row-->
    <div class="row pt-5">

        <!--Grid column-->
        <div class="col-md-4">

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fa fa-2x fa-calendar text-success"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold">Conference & Event Management</h5>
                    <p class="grey-text">Our event management team undertakes meticulous planning and execution to
                        ensure that the client gets a world class experience.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-check-double text-success"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold">Advocacy & Policy Influencing Campaigns</h5>
                    <p class="grey-text">We work with NGOs, Private Foundations and businesses to develop memorable
                        communications campaigns.</p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <!-- <div class="col-md-4 mb-2 center-on-small-only flex-center">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt=""
                class="z-depth-0">
        </div> -->
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-magic text-success"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold">PR & Corporate Communications</h5>
                    <ul class="grey-text">
                        <li>Media training, media liaison and crisis communications</li>
                        <li>Design and activation of digital media campaigns</li>
                        <li>Resource mobilization strategy development and execution</li>
                        <li>Development and publication of impact stories</li>
                        <li>Production and editing of short story telling videos and documentaries</li>
                    </ul>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <!-- <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-glass-martini deep-purple-text"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold">Relaxing</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                        nam, aperiam minima assumenda
                        deleniti hic.</p>
                </div>
            </div> -->
            <!--Grid row-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-paper-plane text-success"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold">Corporate Communications</h5>
                    <p class="grey-text">We help our clients, to have a strong voice and be recognized within the sector
                        by helping them communicate effectively in a clear, controlled and consistent manner.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-digital-tachograph text-success"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold">Digital Media Strategy Development</h5>
                    <p class="grey-text"> The team can develop world class Website and visual designs, supply content,
                        create and manage all publicised content on socials.</p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->



    </div>
    <!--Grid row-->
</div>