<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <img src="../../assets/capabilities.png" alt="" class="img-fluid mt-5">
            <h6 class="mt-5">We specialise in the following:</h6>
            <ul class="mb-5">
                <li>Conference & Event Management.</li>
                <li>PR & Corporate communications strategy  development and management.</li>
                <li>Production of publication and provision of editing services.</li>
                <li>Media buying and advertising support.</li>
                <li>Production of creatives (graphic design).</li>
                <li>Lobby and advocacy support including design of creative advocacy campaigns.</li>
            </ul>
        </div>
    </div>
</div>